---
---

<html>
    <head>
        <title>Are you lost?</title>
        {% include heading.html %}
    </head>
    <body>
        {% include loader.html %}
        <div id="smoothstate">
            <style>
                 body {
      color: #666;
      text-align: center;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: auto;
      font-size: 14px;
    }

    hr {
      max-width: 800px;
      margin: 18px auto;
      border: 0;
      border-top: 1px solid #EEE;
      border-bottom: 1px solid white;
    }

    img {
      max-width: 40vw;
      display: block;
      margin: 40px auto;
    }

    .customa {
      line-height: 100px;
      font-weight: 400;
      color: #4A8BEE;
      font-size: 18px;
      text-decoration: none;
    }

    .container {
      margin: auto 20px;
    }

    .go-back {
      display: none;
    }

    img {
      max-width: 40vw;
      display: block;
      margin: 40px auto;
    }

    .customa {
      line-height: 100px;
      font-weight: 400;
      color: #4A8BEE;
      font-size: 18px;
      text-decoration: none;
    }

    .container {
      margin: auto 20px;
    }

    .go-back {
      display: none;
    }
                
    .main {
      color: #4A8BEE;
      font-size: 18px;       
    }
    div.links a {
       display: block;
    }
            </style>
 <img src="images/smile.png"
       alt="Smile!" />
  <h1>
    404
  </h1>
  <div class="container">
    <h2>You seem to be lost...</h2>
      <p>And help is right here!</p> 
       <p>Did you make a typo up there?</p>
       <p>Did the page you wanted to see exist before?</p>
       <p>Did we make a mistake? <a href="https://gitlab.com/eridanus/eridanus.gitlab.io/issues">Probably. Thanks for telling us.</a></p>
          <hr />
           <h2>And if all else fails...</h2>
          <p>Here are some links you might like to try to get you back on track:</p>
          <div class="links">
          <a href="/">Home Page</a>
         <a href="/something/">Something Home Page</a>
        <a href="/phoneconnect/">PhoneConnect Home Page</a>
       <a href="/help/">Help Center</a>
      </div>
      <hr />
     <p>Still lost? No? Good. What are you still doing here?</p>
      <br />
    <a id="customa" href="javascript:history.back()" class="js-go-back go-back customa">Go back to Previous Site</a>
  </div>
  {% include footing.html %}
  <script>
    (function () {
      var goBack = document.querySelector('.js-go-back');

      if (history.length > 1) {
        goBack.style.display = 'inline';
      }
    })();
  </script>
</body>
</html>
